@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.arrow-left {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid transparent;
  border-top: 0.7rem solid transparent;
  border-right: 0.7rem solid rgb(125 211 252);
}

.arrow-right {
  width: 0;
  height: 0;
  border-bottom: 0.7rem solid transparent;
  border-top: 0.7rem solid transparent;
  border-left: 0.7rem solid rgb(125 211 252);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
}
